.cc {
  &--forgot-password {
    &--header {
      margin: 20px 0;
      font-size: 40px;
      color: #085eb0;
      text-align: center;
      font-family: 'Comfortaa', sans-serif;
    }

    &--sub-header {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  &--signin-link {
    margin-top: 50px;
    text-align: center;

    a {
      color: #a3a3a3;

      &:hover {
        color: darken(#a3a3a3, 10%);
      }
    }
  }
}
