// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@import '../../node_modules/antd/dist/antd.less';

@primary-color: #60dbcc;
@link-color: #60dbcc;
@text-color-secondary-dark: #a0adb7;

@layout-header-padding: 0;

@menu-bg: #fff;
@menu-item-active-bg: #c6eee9;
@menu-item-active-border-width: 0;

@table-header-bg: #fff;
