// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@import '../../node_modules/antd/dist/antd.less';

@light: #c6eee9;

@primary-color: #2b6d5a;
@primary-1: @light;

@link-color: @primary-color;
@text-color-secondary-dark: #a0adb7;

@layout-header-padding: 0;

@menu-item-active-bg: @light;
@menu-item-active-border-width: 0;

@table-header-bg: #fff;
