{
  "env": {
    "development": {
      "plugins": [["emotion", {"sourceMap": true}]]
    },

    "production": {
      "plugins": [
        "emotion",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "remove",
            "removeImport": true,
            "ignoreFilenames": ["node_modules"]
          }
        ]
      ]
    }
  }
}
