html,
body,
#cgen-root {
  margin: 0;
  height: 100%;
  background-color: #2a363e;
  font-family: 'Montserrat', sans-serif;
}

tr {
  &.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
  }

  &.drop-over-upward td {
    border-top: 2px dashed #1890ff;
  }
}
