.cc {
  &--navbar--header {
    top: 0;
    z-index: 1;
    width: 100%;
    position: fixed;

    .cc {
      &--logo a {
        float: left;
        font-size: 21px;
        color: #f3f3f4;
        font-weight: 700;
        margin: 0 40px 0 0;
        text-transform: uppercase;
        font-family: 'Comfortaa', sans-serif;

        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      &--menu-item {
        &--text {
          line-height: 64px;
        }

        &--icon {
          font-size: 24px;
          line-height: 62px;
        }

        &--right {
          float: right;
        }
      }
    }
  }

  &--sign-out {
    color: #ea5e5e !important;
  }
}
